<template name="formulaire">
	<form class="ajouter">
		<h3>Ajouter une voiture</h3>
		<input type="text" id="nom" name="nom" placeholder="entrer un modèle"><br>
		<input type="text" id="marque" name="marque" placeholder="entrer une marque"><br>
		<input type="text" id="couleur" name="color" placeholder="entrer une couleur"><br>
		<input type="text" id="classe" name="classe" placeholder="entrer une classe"><br>
		<h3>Etat de la voiture</h3>
		<input type="number" id="num_km" name="num_km" placeholder="num Km"><br><br>
		<input type="radio" value="occas" name="occas" placeholder="occas"> Occasion
		<input type="radio" value="neuve" name="occas" placeholder="occas"> Neuve<br><br>
		<input type="number" id="prix" name="prix" placeholder="prix"><br><br>
		<input type="radio" value="vendue" name="vendu" placeholder="occas"> Vendue
		<input type="radio" value="dispo" name="vendu" placeholder="occas"> Disponible<br><br>
		<input type="submit" name="submit" clss="valider" value="Valider">
	</form>
</template>